.map-overlay {
    position: absolute;
    bottom: 0;
    bottom: 1.5em;
    right: 0;
    left: 2em;
    background: rgba(255, 255, 255, 0.3);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
  }

  #legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 100px;
    margin-bottom: 25px;
    width: 103px;
    z-index: 2;
  }
  
  .legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }