.modal {
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
    align-items: center;
    display: none;
  }

  .modal_content {
    background-color: white;
    position: absolute;
    width:300px;
    height: 200px;
  }