.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }


  #testMap {
    /*  THIS CHANGES THE MAP TO BECOME FULL SCREEN */
    vertical-align: top;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0em;
    z-index: 1;
  }

  
.mapboxgl-ctrl-top-right{
  top: 60px;
}